
.fog {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  &:before, &:after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 300%;
    background-size: contain;
  /*   background-position: center;
    background-repeat: repeat-x; */
  }
  &:before {
    background-image: url('../assets/fog-1.png');
    animation: drift 6s linear 0s infinite;
  }
  &:after {
    background-image: url('../assets/fog-2.png');
    animation: drift 25s linear 0s infinite;
  }
  @keyframes drift {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(-200vw, 0, 0); }
  }
}
